@model IEnumerable<Ksiegarnia.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Title</td>
        <td>@item.Author.Name</td>
        <td>@item.Price.ToString("C")</td>
        <td>
            <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.Id })">Edit</a>
            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>

