@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ksiegarnia!</h1>
</div>

<h2>Books</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in ViewBag.Books)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author.Name</td>
            <td>@book.Genre.Name</td>
        </tr>
    }
    </tbody>
</table>

<h2>Authors</h2>
<ul>
    @foreach (var author in ViewBag.Authors)
    {
        <li>@author.Name</li>
    }
</ul>

<h2>Genres</h2>
<ul>
    @foreach (var genre in ViewBag.Genres)
    {
        <li>@genre.Name</li>
    }
</ul>